body {  background-color: lightgray;
  font-family: Arial, sans-serif;
}#main {  width: 80%;
  margin: 0 auto;
}#title {  font-size: 25px;
  text-align: center;
  color: #333;
}#list {  display: flex;
  flex-direction: column;
  gap: 20px;
}